*html{
    background-color: black;
}

body{
    width: 600px;
    height: 650px;
    background-color: palegreen;
}

header{
    width: 1300px;
    height: 50px;
    text-align: center;
    font-family: monospace;
}

p{
    font: bold 90% monospace;
    text-align: center;
}

img{
    border: 3px solid black;
}