*html{
    background-color: black;
}

body{
    width: 750px;
    height: 750px;
    border: 3px solid firebrick;
    background-color: yellowgreen;
}

header{
    width: 750px;
    height: 250px;
    background-color: yellowgreen;
}

h1{
    text-align: center;
    font-family: monospace;
}

section{
    font-family: sans-serif;
}

img{
    display: block;
    margin: auto;
    border: 3px solid teal;
}

nav{
    width: 750px;
    height: 50px;
    background-color: yellowgreen;
    font-family: cursive;
}

article{
    text-align: center;
    font-family: monospace;
}