*{
    position: relative;
}

body{
    background: url(../images/Azu\ 2.jpg) fixed no-repeat;
    background-size: cover;
    font-size: 16px;
    font-family: monospace;
}

form{
    position: relative;
    text-align: center;
    top: 50px;
}

table{
    background-color: rgb(153, 153, 153);
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: solid 1px rgb(10, 75, 35);
    padding: 5px;
}

thead{
    background-color: #77973c;
    border-bottom: solid 0px;
    color: white;
}

tr:hover td{
    background-color: rgb(136, 137, 141);
    color: white;
}

a:visited{
    color: #000000;
}

a:link, a:active{
    color:#000000;
    text-decoration: none;
}

a{
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(133, 240, 147);
    border: solid 1px black;
    border-radius: 10px;
}

a:hover{
    background-color: rgb(80, 33, 209);
    color: white;
}